.content{
    max-width:1170px;
    margin:0 auto;
    font-family: 'Titillium Web', sans-serif;
}

.pointer{
    cursor:pointer;
}

.right{
    float:right;
}

.left{
    float:left;
}

.center{
    text-align:center;
}

.text-right{
    text-align:right;
}

.text-left{
    text-align:left;
}

.header{
    background:#a12327;
    position:fixed;
    width:100%;
    top:0;
    z-index:999;
}

.fundo_cep{
    background: url('../images/fundomapa.png') no-repeat;
    background-size: 120% ;
    height:100%;
}

.fundo-faixa{
    background:url('../images/fundo.png') no-repeat;
    color:#fff;
    background-position:center;
    font-family: 'Milk';
    font-size:60px;
    margin-bottom:60px;
}

.faixaFundo{
    background:url('../images/fundo.png') no-repeat;
    color:#fff;
    background-size:60%;
    background-position:center;
    font-family: 'Milk';
    font-size:40px;
}

.btn-cep{
    background: #a12327;
    border:0;
    color:#fff;
    font-size:20px;
    padding: 5px 45px;
    border-radius:3px;
}

.cep{
    width:700px;
    margin:0 auto;
    height:60px;
    font-size:20px;
    border:2px solid #a12327;
    outline: none;
}

.formcep{
    width:700px;
    margin:0 auto;
}

.titleCardapio{
    font-family: 'Milk';
    text-align: center;
    font-size:130px;
    color:#a12327;
    margin-bottom:35px;
}

.rightBorder{
    border-right:4px solid #a12327;
}

.leftBorder{
    border-left:4px solid #a12327;
}

.end{
    margin:0 auto 10px;
    height:60px;
    font-size:20px;
    border:2px solid #a12327;
    outline: none;
}

.cep:focus{
    outline:none;
}

.logo{
    max-width:130px;
    margin:10px 0 -50px;
}

.menu{
    padding:30px 0 0;
}

.menu > li{
    display:inline;
    transition:0.5s;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    -o-transition:0.5s;
}

.menu > li > a{
    color:#fff;
    text-transform: uppercase;
    padding:10px 15px;
    font-size:16px;
    text-decoration: none;
}

.menu > li:last-child > a{
    border:2px dotted #fbd302;
    border-radius:15px;
}

.menu > li:hover > a{
    color:#fbd302;
}

.menu > li.active > a{
    color:#fbd302;
}

.menu > li:last-child:hover > a{
    background:#fbd302;
    color:#a12327;
}

.banner{
    background: url(../images/fundobanner.png) repeat;
    width:100%;
    text-align: center;
}

.banner > img.logobanner{
    position: absolute;
    top:100px;
    left:33%;
}

.historia_de_sucesso{
    text-align:center;
}

.historia_de_sucesso > h1{
    font-size: 46px;
    color: #a12327;
    font-weight: 700;
    text-transform: uppercase;
}

.historia_de_sucesso > p{
    color: #6f6e6e;
    font-size: 24px;
    margin-bottom: 20px;
}

.historia_de_sucesso > h2{
    font-size: 30px;
    color: #a12327;
    font-weight: 700;
    text-transform: uppercase;
}

.combo{
    text-align:center;
}

.combo > div{
    cursor:pointer;
    width:100%;
    height:220px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.combo > div > div{
    width:100%;
    height:100%;
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background:rgba(192, 15, 15, 0.8);
    color:#fff;
    text-transform: uppercase;

}

.combo > div > div > p{
    font-size:40px;
}

.combo > div > div > span{
    font-size:22px;
    font-weight: lighter;
}

.combo > div > div > i{
    font-size:30px;
    border:3px solid #fff;
    width:50px;
    height:50px;
    padding-top:7px;
    border-radius:100%;
}

#map{
    width:100%;
    height:550px;
    border-bottom:6px solid #fbd302;
    position: relative;
    z-index:0;
}

.contato{
    width:100%;
}

.defaultcolor{
    color:#333;
}

.contato > div > div > h1{
    color: #6f6e6e;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.formfield{
    width:100%;
    outline: none;
    border:0;
    background:#f6f6f6;
    padding:10px;
    margin:5px 0;
}

.btn-enviar{
    color: #a12327;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #a12327;
    background-color: transparent;
    padding: 7px 35px;
    border-radius:7px;
}

.clear{
    clear:both;
}

.btn-enviar:hover{
    background:#a12327;
    color:#fff;
}

.redes{
    margin:30px 0;
}

.redes > i{
    font-size:30px;
    margin:0 5px;
    width:50px;
    height:50px;
    text-align: center;
    border-radius: 100%;
    padding-top:10px;
    cursor:pointer;
    color:#fff;
}

.redes > i:hover{
    filter: brightness(80%);
}

.redes .fa-facebook{
    background:#3b5998;
}

.redes .fa-instagram{
    background:#517fa4;
}

.stores{
    background: url('../images/fundoend.png');
    background-size: cover;
    margin:30px 0 0 0;
    padding:45px 0 0 0;
}

.stores > div{
    background: rgba(68, 43, 27, 0.6);
    padding: 10px 0 10px 0;
}

.states{
    color:#fff;
    padding:10px 0;
}

.states > li{
    display:inline;
    text-transform: uppercase;
    font-weight: bold;
    font-size:19px;
    margin:20px;
    cursor:pointer;
}

.states > li:hover{
    color:#fbd302;
}

.states > li.active{
    color:#fbd302;
}

.neighbor{
    color:#fff;
    padding:10px 0;
}

.neighbor > li{
    display:inline;
    text-transform: uppercase;
    font-size:16px;
    margin:10px;
    cursor:pointer;
}

.neighbor > li:hover{
    color:#fbd302;
}

.neighbor > li.active{
    color:#fbd302;
}

#svg-map path { fill:#c5c5c5 }
#svg-map text { fill:#c5c5c5; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none; }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill:#a12327 !important }
#svg-map .circle { fill:#c5c5c5 }
#svg-map a:hover .circle { fill:#a12327 !important; cursor:pointer }

#svg-map a.active { cursor:pointer; text-decoration:none }
#svg-map a.active path{ fill:#a12327 !important }
#svg-map a.active .circle { fill:#a12327 !important; cursor:pointer }


.unities > div > div{
    background:#ccc;
    margin-bottom:20px;
    padding:40px 0;
    cursor:pointer;
    font-size:18px;
}

.unities > div > div:hover{
    background:#a12327;
    color:#fff;
}

.unities > div > div > img{
    margin-bottom:20px;
}

.minha-caixa{
    background:#fbd302;
    color:#a12327;
    font-weight: bold;  
    text-transform: uppercase;
    font-size:18px;
    padding:10px 20px;
    width:235px;
    margin:0 auto;
    cursor:pointer;
    box-shadow:5px 5px 5px #cfcfcf;
}

.minha-caixa > .badge{
    background:#a12327;
}

.minha-caixa > img{
    margin-right:15px;
}

.unit-title{
    text-transform: uppercase;
    color:#a12327;
    font-weight: bold;
}

.unit-subtitle{
    text-transform: uppercase;
    color:#a12327;
    font-weight: bold;
    font-size:18px;
}

.cardapio-title{
    font-size: 70px;
    font-family: CenturyGothic;
    font-weigth: bold;
    letter-spacing: 8px;
}

.red-area{
    background:#831b1d;
    color:#fff;
    padding:15px;
}

.borderas{
    background: url('../images/borderas.png') no-repeat;
    background-size:100%;
    padding:80px 40px 10px;
}

.borderas2{
    background: url('../images/borderas2.png');
    background-size:100%;
    padding:80px 40px 10px;
}

.borderas3{
    background: url('../images/borderas3.png') no-repeat;
    background-size:100%;
    padding:80px 40px 10px;
    height:200px;
}

.tamanhos{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:500px;
    margin:30px auto 0px;
}

.fina{
    background:#ccc;
    width:20px;
    height:20px;
    border-radius:100%;
    margin:0 auto;
}

.media{
    background:#ccc;
    width:30px;
    height:30px;
    border-radius:100%;
    margin:0 auto;
}

.grossa{
    background:#ccc;
    width:40px;
    height:40px;
    border-radius:100%;
    margin:0 auto;
}

.massas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:40px 0 0 0;
}

.massas > div{
    cursor: pointer;
}

.massaIntegral{
    background:#ccc;
    width:40px;
    height:40px;
    border-radius:100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.massaIntegral > img{
    filter: brightness(100%) contrast(0%);
}

.fina:hover, .media:hover, .grossa:hover, .massaIntegral:hover{
    background:#a32228;
}

.massaIntegral:hover > img{
     filter: none;
} 

.fina.active, .media.active, .grossa.active, .massaIntegral.active{
    background:#a32228;
}

.massaIntegral.active > img{
     filter: none;
} 

.tamanhos > div{
    text-transform: uppercase;
    max-width:120px;
    text-align:center;
    cursor:pointer;
    border:1px solid transparent;
    padding:15px;
}

.tamanhos > div:hover{
    border-color:#fff;
}

.tamanhos > div:hover > img{
    filter:none;
}

.tamanhos > div.active{
    border-color:#fff;
}

.tamanhos > div.active > img{
    filter:none;
}

.tamanhos > div > img {
    filter: contrast(0%);
}

.imgResp{
    width:100%;
}

.tamanhos > div > strong{
    font-size:20px;
}

.bordaSelect{
    border:2px solid #a32228;
    width:80%;
    margin-bottom:70px;
}

.integral{
    background-color: #a32228;
    padding: 10px 30px;
    color: #ffcb04;
    font-weight: 500;
}

.pizzas{
    width:100%;
}

.pizzas > div{
    text-align:center;
    min-height:300px;
    margin-bottom:40px;
}

.img-pizza{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top:150px;
    transition: 1s;
    -webkit-transition: 1s;
    -o-transition:1s;
    -moz-transition:1s;
}

.img-pizza > img{
    width: 75%;
}

.titulo-pizzas{
    color: #a12327;
    font-size: 18px;
    text-transform: uppercase;
    height:30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}

.plus{
    color: #a12327;
    background: #fff;
    font-size: 14px;
    position: absolute;
    z-index: 99;
    display: inline-block;
    right: 30px;
    padding: 4px 7px;
    margin: -2px 10px 0 0;
    border-radius: 7px;
}

.redDesc{
    color: #a12327;
    margin:-7px 0;
    height:40px;
}

.divider{
    margin-top: 20px;
    border-bottom: 3px dotted #a12327;
}

.box-preco{
    color: #a12327;
    padding: 20px 5px;
}

.preco{
    font-weight: 300;
    font-size: 33px;
    line-height: 1.2;
}

.btn-ok{
    color: #a32228;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #ffcb05;
    padding: 1px 15px;
    position: relative;
    margin: 0 auto;
}

#cart_borders, #cart_sabor2, #cart_massa {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#cart_borders:focus, #cart_sabor2:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
#cart_borders::-moz-placeholder, #cart_sabor2::-moz-placeholder {
  color: #999;
  opacity: 1;
}
#cart_borders:-ms-input-placeholder, #cart_sabor2:-ms-input-placeholder {
  color: #999;
}
#cart_borders::-webkit-input-placeholder, #cart_sabor2::-webkit-input-placeholder {
  color: #999;
}
#cart_borders::-ms-expand, #cart_sabor2::-ms-expand {
  background-color: transparent;
  border: 0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item{
    border:1px solid #ccc;
    padding:20px;
}

.table > tbody > tr > td{
    vertical-align: middle;
}

.resumo{
    background:#f1f1f1;
    padding:10px 20px;
}

.nomeBebidas{
    text-transform: uppercase;
    font-size:20px;
    color:#a12327;
    margin-bottom:20px;
}

.marginBebe{
    margin-top:150px;
    transition:1s;
    -moz-transition:1s;
    -o-transition:1s;
    -webkit-transition:1s;
}

.black{
    transition: 1s;
    -webkit-transition: 1s;
    -o-transition:1s;
    -moz-transition:1s;
    margin:0;
}

.selectBebe{

}

.quatityBeve{
    max-width: 120px;   
    margin:0 auto;
}

.selectBebe > span{
    background-color:#a12327;
    color:#fff;
    margin-left: 10px;
    margin-right: 10px;
    padding:0 10px 5px;
    cursor:pointer;
}

.selectBebe > .left{    
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.selectBebe > .right{    
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.margeado{
    margin-top:150px;
    transition: 1s;
    -moz-transition:1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    -khtml-transition: 1s;
}

.tiramargem{
    margin-top:0;
}



















