        <div class="header">
            <div class="content row">
                <div class="col-md-2">
                    <img src="/images/logo-slide.png" alt="Pizza Prime" title="Pizza Prime" class="logo" />
                </div>
                <div class="col-md-10 text-right">
                    <ul class="menu">
                        <li <% if page == 'home' %> class="active" <% end %> ><a href="#">Home</a></li>
                        <li><a href="#">Unidades/Cardápios</a></li>
                        <li><a href="#">A Pizza Prime</a></li>
                        <li><a href="#">Trabalhe Conosco/Contato</a></li>
                        <li><a href="#"><strong>Peça Agora</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>