<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >
        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
    </head>
    <body>
        <div class="header">
            <div class="content row">
                <div class="col-md-2">
                    <img src="/images/logo-slide.png" alt="Pizza Prime" title="Pizza Prime" class="logo" />
                </div>
                <div class="col-md-10 text-right">
                    <ul class="menu">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Unidades/Cardápios</a></li>
                        <li><a href="#">A Pizza Prime</a></li>
                        <li><a href="#">Trabalhe Conosco/Contato</a></li>
                        <li><a href="#"><strong>Peça Agora</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="banner text-right">
            <br>
            <img src="/images/slide1.jpg" alt="Pizza Prime" title="Pizza Prime" >
        </div>
        
        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>