<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" > 
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" >
        <link rel="stylesheet" href="/css/css.css" >

        <script src="https://use.fontawesome.com/7f3531401e.js"></script>

        <title>Pizza Prime</title>
        <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1581601698520946'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1581601698520946&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

    </head>
    <body>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60507233-1', 'auto');
  ga('send', 'pageview');

</script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=662174687264933";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <%= render :partial => 'header', :locals => {:page => 'loja', :links => 'site'} %>
        <br><br><br>
        <img src="/images/bannerhamburgo.png" alt="Novo Hamburgo" title="Novo Hamburgo" style="width:100%; margin-top:10px" />
        <br><br>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="unit-title">UNIDADE NOVO HAMBURGO</h2>
                    <p style="font-size:22px">Av. Dr. Maurício Cardoso, 1450 - Hamburgo Velho
                        CEP: 93510-250</p>  
                        <br><br>
                    <h2 class="unit-title">TELE ENTREGA</h2>
                    <p style="font-size:22px">(51) 3065-6533 | (51) 3065-6536</p> 
                    <br>
                    <div class="text-center">
                        <img src="/images/pedido.png" alt="Pizza Prime" title="Pizza Prime"  >
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3466.2617742994007!2d-51.12278888458426!3d-29.68318932152871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951943b6e0acd677%3A0x50ef2aad36aa4908!2sAv.+Dr.+Maur%C3%ADcio+Cardoso%2C+1450+-+Hamburgo+Velho%2C+Novo+Hamburgo+-+RS!5e0!3m2!1spt-BR!2sbr!4v1492630245360" frameborder="0" style="border:0; width:90%; height:350px; border:5px solid #811916;" allowfullscreen></iframe>
                </div>
            </div>
            <br><br>
            <img src="images/especiais.png" alt="Pizza Prime" title="Pizza Prime" style="width:100%">
            <br>
            <br>
            <p class="unico">
                <strong>31-Aliche:</strong> Mussarela, rodelas de tomate, filé de aliche e leve toque de parmesão<br>
                <strong>32-Bacalhau:</strong> Mussarela de búfala, lombo de bacalhau do Porto, cebola, ovos, laminas de alho poró e tomate cereja<br>
                <strong>33-Basca:</strong> Mussarela, calabresa fatiada, cebola, tomate, catupiry e bacon crocante<br>
                <strong>33-Brócolis Especiale:</strong> Brócolis, tomate seco, bacon crocante e catupiry<br>
                <strong>34-Camarão a Torres:</strong> Camarões a alho e óleo, alcaparras e cobertura de catupiry ou mussarela<br>
                <strong>35-Cheddar:</strong> Filé de frango desfiado, palmito e cheddar<br>
                <strong>36-Cuore Especiale:</strong> Coração ao molho de ervas finas com catupiry, parmesão e manjericão<br>
                <strong>37-Del Pizzaiolo:</strong> Calabresa fatiada, palmito, ovos, bacon crocante e catupiry ou cheddar<br>
                <strong>38-Di Búfala:</strong> Tomate seco, mussarela de búfala e folhas de rúcula<br>
                <strong>39-Di Parma:</strong> Fatias de presunto tipo parma disposto sobre mussarela de búfala<br>
                <strong>40-Do Professor:</strong> Pepperoni e tomate seco coberto com mussarela<br>
                <strong>41-Entreveiro:</strong> Lombinho defumado, calabresa, presunto, filé, bacon, coberto com mussarela ou catupiry<br>
                <strong>42-Filé a Farroupilha:</strong> Filé ao catupiry, champignon, tomate e leve toque de parmesão<br>
                <strong>43-Filé aos Quatro Queijos:</strong> Filé coberto com catupiry, mussarela, provolone e parmesão<br>
                <strong>44-Filé aos Seis Queijos:</strong> Filé, mussarela, catupiry, provolone, gorgonzola, cheddar e parmesão<br>
                <strong>45-Filé com rúcula:</strong> Mussarela, filé coberto com rucula, tomate cereja e um leve toque de parmesão<br>
                <strong>46-Florenza:</strong> Tomate seco, mussarela de búfala e fatias de presunto tipo parma<br>
                <strong>7-Floripa:</strong> Atum sólido, palmito, cebola e cobertura de catupiry ou mussarela<br>
                <strong>48-Light:</strong> Peito de peru defumado, palmito, tomate seco e mussarela de búfala<br>
                <strong>49-Magic Chicken:</strong> Filé de frango desfiado, mussarela salpicado com bacon crocante<br>
                <strong>50-Sete Queijos:</strong> Mussarela, catupiry, provolone, gorgonzola, cheddar, mussarela de búfala e parmesão<br>
                <strong>51-Sertões:</strong> Carne seca desfiada, cebola com cobertura de mussarela ou catupiry<br>
                <strong>52-Peru Especiale:</strong> Mussarela, peito de peru defumado e catupiry<br>
                <strong>53-Peru Poró:</strong> Mussarela, peito de peru light, laminas de alho poró com rodelas de tomate<br>
                <strong>54-Philadelphia Prime: </strong>Camarões ao alho e óleo, mix de shitake e shimeji coberto com cream cheese Philadelphia e gergelim<br>
                <strong>55-Picanha Defumada:</strong> Lâminas de picanha defumada coberta com mussarela ou provolone<br>
                <strong>56-Pizza Prime:</strong> Mussarela de búfala, fatias de tomate, pesto de azeitona e folhas de rúcula<br>
                <strong>57-Prime Fit:</strong> Peito de peru light e cream cheese Philadelphia cobertos com tomate cereja e manjericão<br>
                <strong>58-Rúcula:</strong> Tomate seco, mussarela e folhas de rúcula<br>
                <strong>59-Salmão:</strong> Mussarela de búfala, salmão defumado e cream cheese Philadelphia <br>
                <strong>60-Strogonoff:</strong> Strogonoff, champignon com cobertura de mussarela ou catupiry e batata palha<br>
                <strong>61-Tribeca:</strong> Cheddar, pepperoni, bacon crocante e um leve toque de parmesão<br>

            </p>

            <br><br>
            <img src="images/tradicionais.png" alt="Pizza Prime" title="Pizza Prime" style="width:100%">
            <br>
            <br>
            <p class="unico">
                <strong>1-Alho:</strong> Mussarela, alho dourado e leve toque de azeite<br>
                <strong>2-Americana:</strong> Presunto, champignon, catupiry salpicado com bacon crocante<br>
                <strong>3-Atum Sólido:</strong> Mussarela, atum sólido com finas fatias de cebola<br>
                <strong>4-Baiana:</strong> Mussarela, calabresa moída, ovos, pimenta, cebola e leve toque de parmesão<br>
                <strong>5-Brócolis:</strong> Mussarela, brócolis e catupiry<br>
                <strong>6-Bauru:</strong> Presunto light coberto com mussarela <br>
                <strong>7-Caipira:</strong> Filé de frango desfiado, milho e catupiry<br>
                <strong>8-Calabresa:</strong> Mussarela e calabresa fatiada<br>
                <strong>9-Calábria:</strong> Calabresa fatiada e finas fatias de cebola<br>
                <strong>10-Canadense:</strong> Lombinho defumado, champignon, abacaxi, bacon crocante e catupiry<br>
                <strong>11-Caprese:</strong> Mussarela de búfala, rodelas de tomate com pesto de manjericão fresco<br>
                <strong>12-Catupiry:</strong> Requeijão catupiry<br>
                <strong>13-Cinco Queijos:</strong> Mussarela, catupiry, provolone, gorgonzola e parmesão<br>
                <strong>14-Coração:</strong> Mussarela e coração ao molho de ervas finas<br>
                <strong>15-Frango Catupiry:</strong> Filé de frango desfiado, mussarela ou catupiry<br>
                <strong>16-Filé:</strong> Mussarela, filé coberto com catupiry ou cheddar<br>
                <strong>17-Gorgonzola:</strong> Gorgonzola derretida sobre finas fatias de mussarela<br>
                <strong>18-Gourmet:</strong> Mussarela, bacon crocante, laminas de alho poró, rodelas de tomate e um leve toque de parmesão<br>
                <strong>19-Jardineira:</strong> Mussarela, brócolis, milho, champingnon e cream cheese<br>
                <strong>20-Lombinho:</strong> Mussarela, lombinho defumado, abacaxi e finas fatias de cebola<br>
                <strong>21-Marguerita:</strong> Mussarela, rodelas de tomate, parmesão e manjericão<br>
                <strong>22-Mexicana:</strong> Mussarela, frango ao curry, alho poró com cobertura de catupiry ou cream cheese <br>
                <strong>23-Milho:</strong> Milho com mussarela ou catupiry<br>
                <strong>24-Moda da Casa:</strong> Mussarela, catupiry, fatias de tomate, provolone e alho dourado<br>
                <strong>25-Mussarela:</strong> Mussarela e rodelas de tomate<br>
                <strong>26-Namorados:</strong> Palmito com mussarela e catupiry<br>
                <strong>27-Napolitana:</strong> Mussarela, rodelas de tomate, parmesão e alho dourado<br>
                <strong>28-Panceta:</strong> Milho e bacon crocante disposto sobre mussarela ou catupiry<br>
                <strong>29-pepperoni:</strong> Mussarela, pepperoni e leve toque de parmesão<br>
                <strong>30-Portuguesa:</strong> Mussarela, presunto, ovos e finas fatias de cebola<br>
                <strong>31-Quatro Queijos:</strong> Mussarela, catupiry, provolone e parmesão<br>
                <strong>32-Sicília:</strong> Mussarela, champignon e bacon crocante<br>
                <strong>33-Toscana:</strong> Calabresa moída, catupiry, mussarela e manjericão<br>
                <strong>34-Toscana II:</strong> Mussarela, calabresa moída, rodelas de tomate, catupiry coberto com folhas de manjericão fresco<br>
                <strong>35-Vegetariana:</strong> Palmito, brócolis, milho, champignon e leve cobertura de mussarela<br>


            </p>
            <br><br>
            <img src="images/doces.png" alt="Pizza Prime" title="Pizza Prime" style="width:100%">
            <br>
            <br>
            <p class="unico">
                <strong>62-Canela:</strong> Banana fatiada, leite condensado e canela<br>
                <strong>63-Chocolate:</strong> Chocolate ao leite, cerejas e granulado<br>
                <strong>64-Doce de Leite com Coco:</strong> Doce de leite, coco ralado e cerejas<br>
                <strong>65-Gramado:</strong> Mussarela, banana fatiada, castanha com doce de leite ou chocolate<br>
                <strong>66-Morangos Negros:</strong> Chocolate ao leite, morango e granulado<br>
                <strong>67-Califórnia:</strong> Mussarela, pêssego, abacaxi, figo, cereja, leite condensado e suave toque de canela<br>
                <strong>68-Romeu e Julieta:</strong> Goiabada e mussarela e suave toque de canela<br>
                <strong>69-M&M’s:</strong> Chocolate ao leite salpicado com M&M’s<br>
                <strong>70-Nutella:</strong> Creme de avelã salpicado com castanhas e cerejas<br>
                <strong>71-Prestígio:</strong> Chocolate com coco e cerejas<br>
                <strong>72-Sensação: </strong>Creme de avelã, morango com um leve toque de castanhas <br>

            </p>
        </div>
<br><br>
        <%= render :partial => 'footer', :locals => {:page => 'home'} %>



        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
        <script type="text/javascript" src="/js/cycle.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script type="text/javascript" src="/js/untitled.js"></script>
        

        <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/06c0c772-6f76-429f-8082-c86ab41812f5-loader.js" ></script>
    </body>
</html>
