<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nova mensagem do site pizzaprime.com.br</h1>
    <br>
    <p><strong>Nome: </strong> <%= @contato[:name] %></p>
    <p><strong>Email: </strong> <%= @contato[:email] %></p>
    <p><strong>Telefone: </strong> <%= @contato[:phone] %></p>
    <p><strong>Mensagem: </strong> <%= @contato[:message] %></p>
  </body>
</html>